package service

import (
    "{{MODULE_NAME}}/config"
	"{{MODULE_NAME}}/internal/storage"

	"github.com/sirupsen/logrus"
)


type Service struct {

}

func NewService(storage *storage.Storage, cfg *config.Config, logger *logrus.Logger) *Service {
	return &Service{

	}
}
